* {
    font-family: 'Lato',
        sans-serif;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.title-font {
    font-family: 'Macondo',
        cursive;
}

.content-font {
    font-family: 'Lato',
        sans-serif;
}

.icon-large {
    font-size: xxx-large;
}

.zero-padding {
    padding: 0;
}