{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}" />
{% endblock %}

{% block content %}

<header id="home-banner" style="background-image: url('/static/img/home-banner.jpg')">

</header>

<main id=" latest-movies">
    <div class="d-flex align-item justify-content-center">
        <i class="bi bi-stars icon-large"></i>
        <h1 class="title-font">THE LATEST MOVIES</h1>
    </div>
    <!-- show popular movies -->
    {{ macros.display_movie_colletion(latest_movies) }}
</main>

<section id="popular-movies">
    <div class="d-flex align-item justify-content-center">
        <i class="bi bi-stars icon-large"></i>
        <h1 class="title-font">THE MOST POPULAR MOVIES</h1>
    </div>
    <!-- show popular movies -->
    {{ macros.display_movie_colletion(popular_movies) }}
</section>
{% endblock %}
